<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-links">
            <div class="footer-social-wrap">
                <a href="#" class="social-link"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#" class="social-link"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#" class="social-link"><i class="fa-brands fa-threads"></i> Threads</a>
                <a href="#" class="social-link"><i class="fab fa-youtube"></i> YouTube</a>
                <a href="#" class="social-link"><i class="fab fa-line"></i> LINE</a>
            </div>

            <div class="footer-column">
                <h3>最新消息</h3>
                <ul>
                    <li><a href="#">最新優惠</a></li>
                    <li><a href="#">官方公告</a></li>
                    <li><a href="#">人物誌</a></li>
                    <li><a href="#">品牌故事</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>認識 Lohas</h3>
                <ul>
                    <li><a href="#">關於 Lohas</a></li>
                    <li><a href="#">集團簡介</a></li>
                    <li><a href="#">人才招募</a></li>
                    <li><a href="#">企業社會責任</a></li>
                    <li><a href="#">聯絡我們</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>會員專區</h3>
                <ul>
                    <li><a href="#">會員 APP</a></li>
                    <li><a href="#">配鏡 14 流程</a></li>
                    <li><a href="#">雷刻服務</a></li>
                    <li><a href="#">配鏡方案</a></li>
                    <li><a href="#">Lohas 獨家包裝</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>樂活商店街</h3>
                <ul>
                    <li><a href="#">商店街主頁</a></li>
                    <li><a href="#">商店街使用指南</a></li>
                    <li><a href="#">特約商家介紹</a></li>
                    <li><a href="#">申請說明</a></li>
                    <li><a href="#">立即加入</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2026 Lohas 樂活眼鏡 All Rights Reserved.</p>
        </div>
    </div>
</footer>

<div id="cookie-banner" class="cookie-banner">
    <div class="cookie-container">
        <div class="cookie-content">
            <p>本網站使用 Cookie 以提升您的個人化體驗。繼續瀏覽即表示您同意我們的 <a href="#privacy-policy">隱私權條款與 Cookie 政策</a>。</p>
        </div>
        <div class="cookie-actions">
            <button id="accept-cookies" class="btn-cookie-accept">接受所有 Cookie</button>
        </div>
    </div>
</div>
