<header class="main-header">
    <nav class="nav-container">
        <div class="logo">
            <a href="index.html">
                <img src="images/lohas-logo.svg" alt="Lohas樂活眼鏡">
            </a>
        </div>

        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="nav-links" id="nav-list">
            <li><a href="news.html">最新消息</a></li>
            <li><a href="engraving.html">獨家雷刻服務</a></li>

            <li class="dropdown-parent mega-menu-parent">
                <a href="#">購物商城 <i class="fas fa-chevron-down dropdown-icon"></i></a>
                <div class="mega-menu">
                    <div class="mega-menu-container">
                        <div class="mega-image">
                            <img src="images/mega-parent.jpg" alt="購物商城導覽">
                        </div>

                        <div class="mega-content">
                            <div class="mega-column">
                                <h4>光學眼鏡</h4>
                                <ul>
                                    <li><a href="https://www.lohaseyewear.com/product/list/47">複合眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/48">眉框眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/45">金屬眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/46">粗框眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/292">雙槓眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/49">透明框眼鏡</a></li>
                                </ul>
                            </div>

                            <div class="mega-column">
                                <h4>風格眼鏡</h4>
                                <ul>
                                    <li><a href="https://www.lohaseyewear.com/product/list/7">MORRI｜木紋眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/50">時祤｜圓框眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/52">Oloroso｜原木眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/55">W｜商務眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/53">1974｜美式復古</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/54">Twins Ocean｜兩用眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/56">BRONX｜嘻哈眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/57">THE BLOCK｜運動眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/51">Měi Lin｜男神眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/59">YOUNG｜輕熟款</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/58">TAKUMI｜工藝眼鏡</a></li>
                                </ul>
                            </div>

                            <div class="mega-column">
                                <h4>周邊配件</h4>
                                <ul>
                                    <li><a href="https://www.lohaseyewear.com/product/list/11">隱形眼鏡</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/309">食鹽水｜保養液</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/297">樂活包裝</a></li>
                                    <li><a href="https://www.lohaseyewear.com/product/list/328">創意小物</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li><a href="/allstore/1-門市據點">門市據點</a></li>
            <li><a href="/vipstore">樂活商店街</a></li>
            <li class="mobile-cta">
  <a href="#" class="btn-primary" data-member-link>會員專區</a>
</li>
        </ul>

        <div class="nav-cta">
            <a href="#" class="btn-primary" data-member-link>會員專區</a>
        </div>
    </nav>
</header>
